@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Biryani&family=Montserrat&display=swap');

body{
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


button{
    background-color: #f72585;
    padding: 5px 15px;
    font-size: 30px;
    color: #fff;
    font-family:'Biryani', sans-serif; 
    border-radius: 10px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    
}

button:hover{
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}